<!DOCTYPE html>
<html>
<head>
  <title>MyMovie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- bez fixed top nie jest statyczne, jak wrocic do poprzedniego to najlepiej jeszcze bix-->
    <div class="container">
       <h1> <%= link_to 'Main Page', '/movies', :class =>"navbar-brand " %></h1>
   <!-- <h1>Listing Movies</h1>-->
<%= form_tag movies_path, :method => 'get', :class =>"navbar-form navbar-right" do %>
<div class="form-group">
<%= (text_field_tag :search, params[:search], :class =>"form-control", :placeholder =>"Search") %>
</div>
<%= submit_tag "Search",:category => nil, class:'btn btn-success' %>
<% end %>
    </div>
</nav>
    
    


<div class="box">
<div class="container">
    <div class="row">
    

<%= yield %>

    </div>
</div>
    </div>
</body>
</html>
